@typeparam TItem

<div class="draggable-list-container">
    @foreach (var item in ListData)
    {
        <div onmousedown="draggableList.moveElement(event)">
            @ListItemTemplate(item)
        </div>        
    }
</div>

@code {
    [Parameter]
    public IEnumerable<TItem> ListData { get; set; }
    [Parameter]
    public RenderFragment<TItem> ListItemTemplate { get; set; }
}
